.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}


.drawer {
  position: absolute;
  width: 385px;
  height: 100%;
  right: 0;
  background: #FFFFFF;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  .items {
    flex: 1;
    overflow: auto;
  }

  h2 {
    margin: 0;

    .remove-cart {
      opacity: 0.7;
      transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
      cursor: pointer;

      &:hover {
        opacity: 1;
        transform: translateY(-3px);
      }
    }
  }

}

.cartTotalBlock {

  li {
    align-items: flex-end;
    margin-bottom: 20px;
  }

  div {
    flex: 1;
    border-bottom: 1px dashed #dfdfdf;
    height: 1px;
    margin: 0 7px;
    position: relative;
    top: -4px;
  }

  .cart-button {
    margin-bottom: 30px;

    button {
      position: relative;
      padding: 15px;
      background-color: #9DD558;
      border-radius: 40px;
      width: 100%;
      border: 0;
      color: white;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;


      &:hover {
        background-color: lighten(#9dd558, 5%);
      }

      &:active {
        background-color: darken(#9dd558, 5%);
      }

      &:hover {
        img {
          transform: translateX(20px);
        }
      }

      img {
        position: absolute;
        right: 60px;
        top: 18px;
        transition: transform 0.3s ease-in-out;

      }
    }

  }

}


.cartItem {
  border: 1px solid #f3f3f3;
  border-radius: 30px;
  padding: 15px;
  overflow: hidden;


  .cartItemImg {
    width: 70px;
    height: 70px;
    background-size: contain;
    background-position: 0 -3px;
    background-repeat: no-repeat;
    margin-right: 20px;
  }

  p {
    font-size: 16px;

  }

  b {
    font-size: 14px;
  }

  .removeBtn {
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      opacity: 1;
      transform: translateY(-3px);
    }

  }
}